@import 'bootstrap';
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import '@fontsource/roboto';

:root {
  --bool-header-bg-color: #0c0c0c;
  --bool-lightest-color: white;
  --bool-card-bg-hover-color: black;
  --bool-main-color: #e50914;
}

/* UTILITIES */
.width-15 {
  width: 15%;
}

/* BODY */
body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
  background-color: var(--bool-header-bg-color);

  #logo_container {
    padding: 1rem !important;
  }

  #logo {

    margin-right: 2rem;

    @media screen and (max-width: 800px) {
      width: 20%;
    }

    @media screen and (max-width: 600px) {
      width: 30%;
    }
  }

  button {
    background-color: var(--bool-main-color) !important;
    color: var(--bool-lightest-color) !important;
  }

  select {

    @media screen and (max-width: 800px) {
      display: none !important;
    }
  }
}

/* MAIN */
main {

  color: var(--bool-lightest-color);
  min-height: 850px;

  .card_container {
    position: relative;

    &.card_container:hover .overlay {
      opacity: 1;
      cursor: pointer;
    }

    .overlay {
      color: var(--bool-lightest-color);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;

      opacity: 0;
      transition: 0.5s ease;
      background-color: var(--bool-card-bg-hover-color);
      overflow-y: auto;

      ul {

        li {

          strong {
            font-weight: bolder;
            color: var(--bool-main-color);
          }

          i {
            color: var(--bool-main-color);
          }
        }

      }
    }
  }
}